Source: ruby-utility
Section: misc
Priority: optional
Maintainer: Alexander Reitzel <funtimecoding@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/FunTimeCoding/ruby-utility
Vcs-Browser: https://github.com/FunTimeCoding/ruby-utility
Vcs-Git: https://github.com/FunTimeCoding/ruby-utility.git

Package: ruby-utility
Architecture: any
Depends: ${misc:Depends}
Description: short stub description
 Long stub description.
